.italic{
    font-style: italic;
}
.main{
  margin:0 auto;
  width:80%;
  height:80%;
  background-color: beige;
}
h{font-weight: bold;}

p{font-family: Verdana, sans-serif;}

section{
    margin-left: 15px;
    margin-right: 15px;
}

